@model IEnumerable<WideWorldImporters.Models.InvoiceLine>

<br /> <br />

<h2>Profit</h2>


<p>
    Search for a description of the profit you are looking for.
</p>



@using (Html.BeginForm("Profit", "Home", FormMethod.Get))
{
    @Html.AntiForgeryToken()

    @Html.TextBox("scan") <input type="submit" value="Search" /> @Html.ActionLink("Client Search", "WorldWideImporters")

}

<br /> <br />

<table class="table table-bordered striped">
    <thead>
        <tr>
            <th>
                Description
            </th>
            <th>
                Stock Item ID
            </th>
     
            <th>
                Line Profit
            </th>




        </tr>
    </thead>
    <tbody>

        @if (Model.Count() == 0)
        {
            <tr>
                <td colspan="3" style="color:red">
                    No Match Any Document
                </td>
            </tr>
        }


        else
        {
            foreach (var item in Model)
            {
                <tr>
                    <td>
                        @item.Description
                    </td>
                    <td>
                        @item.StockItemID
                    </td>
                    
                    <td>
                        @item.LineProfit
                    </td>


                </tr>
            }
        }

    </tbody>


</table>

